@media(max-width:1024px){
.spot-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-spot-image{
    width: 80%;
}
.noPreview-images{
    display: none;
}

}