.messages-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    margin: 10px;
    gap:10px;

}
.submit-button{
    border: none;
    background-color: transparent;
}
.send-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-content-container input{
    width: 600px;
    height: 200px;
}