<mat-tab-group headerPosition="below" class="custom-tabs">
  <mat-tab label="Username" >
    <mat-form-field appearance="fill" class="tab-field">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter username" />
    </mat-form-field>
  </mat-tab>

  <mat-tab label="Email">
    <mat-form-field appearance="fill" class="tab-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter email" />
    </mat-form-field>
  </mat-tab>

  <mat-tab label="Password">
    <mat-form-field appearance="fill" class="tab-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter password" />
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
